# ==================================================
# Python
# ==================================================
__pycache__/
*.py[cod]
*$py.class

# ==================================================
# Virtual Environment
# ==================================================
.venv/
venv/
env/
ENV/

# ==================================================
# IDE
# ==================================================
.idea/
.vscode/

# ==================================================
# Environment Variables
# ==================================================
.env

# ==================================================
# OS Files
# ==================================================
.DS_Store
Thumbs.db

# ==================================================
# Raw Dataset
# ==================================================
data/raw/*

# Keep the raw folder
!data/raw/.gitkeep

# ==================================================
# Processed Datasets
# ==================================================
data/processed/*

# Keep the processed folder
!data/processed/.gitkeep

# ==================================================
# Figures
# ==================================================
figures/*

# Keep the figures folder
!figures/.gitkeep

# ==================================================
# Trained Models
# ==================================================
models/*.pkl
models/*.joblib

# Keep the models folder
!models/.gitkeep